%picture {
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
%flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
%grid{
    display: grid;
    grid-template: 1fr/1fr minmax(auto,1200px)1fr;
}
@mixin font($size,$color,$weight) {
    font-size:$size;
    color: $color;
    font-weight: $weight;
}
