$avatar-size: 360px;
$stack-ava-size:85px;
$stack-item-size:125px;
$projects-ava-size:285px;
$projects-item-size:310px;
$plain-text: 14px;
$main-heading-text:38px;
$heading-text:28px;
$plain-text-color:#666666;
$focused-text-color:#009D9D;
$gradient-text-color:#666fff;
$wave-color-1:#3379B7;
$wave-color-2:#67A1D5;
$middle-text-color:#9d6c93;
$shadow:rgba(0, 0, 0, 0.2);
