@import "./vars";
@import "./mixins";
@import "./about";
@import "./animations";
@import "./stack";
@import "./wave";
@import "./projects";
@import "./certificates";
@import "./contacts";

.App{
    padding-bottom: 50px;
}

.about,.stack,.projects, .certificate{
    min-height: 100vh;
    padding: 160px 0 0 0;
}