@import "./vars";
@import "./mixins";
@import "./about";
@import "./animations";
@import "./stack";
@import "./wave";
@import "./projects";
@import "./certificates";
@import "./contacts";

.App{
    padding-bottom: 50px;
}

.about,.stack,.projects,.certificates{
    min-height: 100vh;
    padding: 170px 0 0 0;
}

@media (min-width:1750px){
    .about,.stack,.projects,.certificates{
        min-height: 1000px;
    }
}